body{
font-family: Arial;
background:#f2f2f2;
margin:30px;
}

h1{
text-align:center;
color:#2c3e50;
}

.description{
text-align:center;
font-size:16px;
}

.event-info{
margin:auto;
border-collapse:collapse;
width:400px;
}

.event-info td{
border:1px solid black;
padding:8px;
}

form{
background:white;
padding:20px;
margin-top:20px;
border-radius:8px;
}

fieldset{
margin-bottom:15px;
}

legend{
font-weight:bold;
}

input,select,textarea{
width:100%;
padding:6px;
margin-top:5px;
margin-bottom:10px;
}

button{
padding:8px 15px;
background:#3498db;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#2980b9;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

table,th,td{
border:1px solid black;
}

th,td{
padding:8px;
text-align:center;
}

footer{
text-align:center;
margin-top:20px;
font-size:14px;
  }
